.align-center{
    align-items: center;
}

.margin-top{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.image_specificaion{
  height:4vh;
  width: 4vw;
}

.change_profile_pic{
  height:20vh;
  width:20vw;
}

.vertical-menu ul {
  height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width:575px) {
  .dissapear {
    display: none;
  }
  .image_specificaion{
    height:10vh;
    width: 10vw;
  }

}
