<div class="wrap">
    <div id="arrow-left" class="arrow"></div>
    <div id="slider">
      <div class="slide slide0">
        <div class="slide-content">
          <span>Welcome to {{regions[0]}} </span>
          <a [routerLink]="['/allCountry',regions[0]]">Click Here For More</a>
        </div>
      </div>
      <div class="slide slide1">
        <div class="slide-content">
          <span>Welcome to {{regions[1]}}</span>
          <a [routerLink]="['/allCountry',regions[1]]">Click Here For More</a>
        </div>
      </div>
      <div class="slide slide2">
        <div class="slide-content">
          <span>Welcome to {{regions[2]}}</span>
          <a [routerLink]="['/allCountry',regions[2]]">Click Here For More</a>
        </div>
      </div>
      <div class="slide slide3">
          <div class="slide-content">
            <span>Welcome to {{regions[3]}}</span>
            <a [routerLink]="['/allCountry',regions[3]]">Click Here For More</a>
          </div>
        </div>
        <div class="slide slide4">
            <div class="slide-content">
              <span>Welcome to {{regions[4]}}</span>
              <a [routerLink]="['/allCountry',regions[4]]">Click Here For More</a>
            </div>
          </div>
    </div>
    <div id="arrow-right" class="arrow"></div>
  </div>
